<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
  </resultMap>

  <select id="queryMenu" resultMap="BaseResultMap">
  select * from t_menu where pid = #{pid}
  </select>

  <select id="querymenu" resultMap="BaseResultMap">
 select * from t_menu
  </select>

  <delete id="dele">
  delete from t_menu where id=#{ids}
  </delete>

  <insert id="add">
    insert into t_menu (text, url
     )
    values (#{m.text}, #{m.url}
      )
  </insert>

  <select id="querymenubyid" resultMap="BaseResultMap">
  select * from t_menu where id =#{id}
  </select>

  <update id="update" >
    update t_menu
    set text = #{text},
      url = #{url},
      pid=#{pid}
    where id = #{id}
  </update>

    <select id="querymenutree" resultMap="BaseResultMap">
  select * from t_menu where pid = #{pid}
  </select>

    <select id="querymenuByrid" resultType="java.lang.Integer">
  select c.id
  from cont c
  where c.rid=#{rid}
  </select>

    <delete id="deleteMenuByrid">
  delete from cont where rid = #{rid}
  </delete>

    <insert id="saveRoleMenu">
        insert into cont (rid,id) values
        <foreach item="vi" index="index" collection="mids" separator=",">
            (#{rid},${vi})
        </foreach>
    </insert>


  <!--<sql id="Base_Column_List" >
    id, text, url, pid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.model.Menu" >
    insert into t_menu (id, text, url, 
      pid)
    values (#{id,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{pid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.model.Menu" >
    insert into t_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="pid != null" >
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.model.Menu" >
    update t_menu
    <set >
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.Menu" >
    update t_menu
    set text = #{text,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>-->
</mapper>